body {
    background-color: #121214;
    
   
}
h1 {
    color: wheat;
    text-align: center;
}

.galery {
    column-count: 3;
    column-gap: 0;

}

img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: scale 350ms ease, opacity 350ms linear;

}  

.galery:has(img:hover) img:not(:hover) {
    scale: .9;
    opacity: .7;
}